*, *:before, *:after{
   margin:0;
   padding: 0;
   outline:0;
   box-sizing: border-box;
}
.section-projects{
   font-family: 'Lato' Arial, Helvetica, sans-serif;
   align-items: center;
   justify-content: center;
   text-align: center;

}

.section-projects h2{
   font-size: clamp(2rem, 3vw, 2.5rem);
   color: var(--pink);
   padding: 3% 0;
   text-align: center;
   font-family: "Oleo Script";
   font-weight: 300;
   border-bottom: 3px var(--orange) solid;
   margin: 0 150px;
   
 }




 .container-projects{

   width: 80%;
   display: flex;
flex-wrap: wrap;
   justify-items: center;
   align-items: center;
  margin: 0 auto ;
  margin-bottom: 8%;
  
}

.card-project{
   height: 199px;
   width: 21rem;
   margin: 2% ;
   overflow: hidden;
   padding: 0px 10px 0px 10px;
   border-radius: 2%;
   border: 1px solid #fff;
   transition: all .4s ease-in-out;
   box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
   text-align: center;
   background: var( --container-body-light);
}

.card-project:hover{
   background: var(--background-body-light);
   height: 430px;
   width: 21rem;
   border-radius: 5px;
   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.card-header h1{
   font-size: clamp(1rem, 3vw, 1.5rem);
   padding: 5%;
   font-weight: 700;
   color: var(--orange);
   border-bottom: var(--pink 1px solid);
}

.card-header img{
   position:relative;
   border-radius: 2%;
   display: block;
   width: 300px;
   padding: 0;
   margin: auto;
  border-left: var(--pink) 5px solid;
  border-bottom: var(--orange) 5px solid;
   object-fit: cover;
   transition: all 0.3s ease;
   cursor: pointer;
}
.icon-tecnology ul{
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   margin: 0;
  
}

.icon-tecnology li {
  font-size: clamp(1rem,4vw,2rem);
   line-height: 40px;
   text-align: center;
   transform: scale(1);
   transition: all 0.50s ease;
   
   
}

.icon-tecnology li .fab{
   font-size: clamp(1.3rem, 5vw,1.5rem);
   
}

.icon-tecnology li:nth-child(1){
   color: rgb(255, 115, 1);
}
.icon-tecnology li:nth-child(2){
   color: blue;
}
.container-info{
   font-size: 2rem;
   
}
.container-info .info p{
   justify-content: left;
   margin-left: 2%;
   padding: 0 3%;
   width: 95%;
   height: fit-content;
   background:rgb(255, 234, 216) ;
   font-size: small;

}
.icon-tecnology li:nth-child(3){
   color: #fffb00;
}
.icon-tecnology li:nth-child(4){
   color: #069ff8;
}
.icons a .icon-external{
   font-size: 2.5rem;
   margin: 2% 10%;
   padding: 1%;
}
.icon-external:hover{
   color: var(--orange);
}
.icons a{
   margin-top: 20px;
   padding-bottom: 30px;
   color: var(--pink);
}
.btn-category{
   margin: 2%;
}
/**-----------Botones de filtro-------**/


 button.button-filter {
margin-left: 10px;

}
/**-----------MEDIA QUERIES-----------------*/

@media (max-width:950px){
   .card-project{
      width: 20rem;
      transition: all .50s ease;
    
   }
   
   .card-project:hover{
      width: 20rem;
   }
    .container-projects{
      margin: 0 auto;
      margin-right: 0%;
   }
   
}




@media (max-width: 820px) {
   .section-projects{
      width: 100%;
   }
   .card-project{
      height: 175px;
      width: 15rem;
      transition: all .50s ease;
    
   }
   .container-projects{
      margin: 0 15%;
   }
   .card-project:hover{
      width: 15rem;
      height: 110vh;
   }
   .card-project img{
      width: 100%;
   }
}

@media (max-width: 690px) {
   .card-project{
      height: 165px;
      width: 14rem;
      transition: all .50s ease;
   }
   .card-header img{
    width: 100%;
   }
   .card-project:hover{
      width: 25rem;
   }
    .container-projects{
      margin: auto;
     
   }
   .btn-category{
      padding: 1% 3%;
      font-size: 15px;
   }
}

@media (max-width: 610px){
   .card-project{
      height: 165px;
      width: 12rem;
      transition: all .50s ease;
   }
   
   .card-project:hover{
      width: 12rem;
   }
   .container-projects{
      margin: 0 5% 0 ;
   }
}
@media (max-width: 590px){
.container-projects{
   width: 100%;
}
.card-project{
   width: 80%;
   margin: 3% 5%;
}
}