.container-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 7% 0;
  padding: 6% 0;
  background: var(--container-body-light);
}

.section-1,
.section-2, .container-contact {
  display: grid;
  width: 70%;
  grid-template-columns: 1fr 2.5fr;
  margin: auto;
  align-items: center;
}
.img-about {
  width: 90%;
  border-left: var(--orange) 5px solid ;
  border-bottom: var(--pink) 5px solid ;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
}
.section-1 div h2,
.section-2 div h2,
.container-contact h2 {
  font-size: clamp(2rem, 3vw, 2.5rem);
  color: var(--pink);
  padding: 3% 0;
  text-align: center;
  font-family: "Oleo Script";
  font-weight: 300;
}
.section-1 div p, .container-contact p {
  text-indent: 25px;
  padding-bottom: 3%;
  font-size: clamp(1.1rem, 2vw, 1.2rem);
  font-family: "Lato";
  color: var(--body-color-dark);
  text-align: left;
 
}
.section-1 h2{
  margin: 3.5% 0px;
  border-bottom: 2px var(--orange) solid;
}
.section-2 .icon-skills{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   column-gap: 3%;
   padding: 3% 3%;
   font-size: clamp(2rem, 5vw, 3rem);
   border-top: 2px var(--orange) solid;

}

.icon-skills li{
   margin: 10% 0;
   background: #ffead686;
   text-align: center;
   align-items: center;
   padding: 5% 0;
   border-radius: 20px;
}
.icon-skills li:hover{
   transition: all .50s ease-in-out;
   background: none;

}
.icon-skills > li:nth-child(1){
   color: var(--orange);
}
.icon-skills > li:nth-child(2){
   color: #1900ff;
}
.icon-skills > li:nth-child(3){
   color: #ffe600;
}
.icon-skills > li:nth-child(4){
   color: #00b7ff;
}
.icon-skills > li:nth-child(5){
   color: #292727;
}
.icon-skills > li:nth-child(6){
   color: #ff5100;
}
.icon-skills > li:nth-child(7){
   color: #000;
}
.icon-skills > li:nth-child(8){
   color: #00b7ff;
}
/**-----------CONTACT-------------**/

.container-contact{
   width: 100%;
   background: var(--container-body-light);
   padding-top: 2%;
   display: flex;
   flex-direction: column;
   margin: auto;
   
   
}
.container-contact p{
   padding-top:2%
   };



.container-contact h2{
   border-bottom: 3px var(--orange) solid;
}

.container-contact div{
   text-align: center;
   width: 70%;
   justify-content: left;
   margin: auto;}

   .button-contact{
      margin: 1% 5%;
   }
   .container-button{
      padding-bottom: 2%;
   }
   button:hover{
      background-color: #fa640d2f;
      box-shadow: var(--pink) 0px 0px 15px;
   }


/**---MEDIA QUERIES------*/
@media (max-width:1280px){
   .section-1, .section-2, .container-contact p{
      width: 80%;
      transition: all .50s ease;
   }
}

@media (max-width:890px){
   .section-1, .section-2, .container-contact p{
      width: 90%;
      margin: 2%;
      transition: all .50s ease;
   }
}

@media (max-width: 630px) {

   .container-about{
      width: 100%;
   }
   .container-about .section-1{
  display: flex;
  transition: all 0.5s ease;}

.section-1, .section-2{
   width: 95vw;
   margin: auto;
   display: flex;
   flex-direction: column;
   
}
.img-about{
   width: 120px;
   height: 148px;
   border-radius: 50%;
   position: absolute;
   left: 5%;
}
.section-1 h2{
   margin: 40px 0;
   border-bottom: none;
}
.section-1 p{
   margin: 5% 0;
}
.icon-skills li{
  padding: 10px 20px;
}
}


@media (max-width: 400px) {
   .img-about{
      display: none;
   }
   .container-contact div{
      width: 90%;
   }
   .section-1 h2{
      margin: 0;
      border-bottom: var(--orange) 2px solid;
   }
}