.home{
   display: grid;
   margin: auto;
   grid-template-columns: 2.3fr 1.5fr;
   width: 70%;
   align-items: center;
   justify-content: center;
   
}
.home h3{
align-items: center;
color: var(--orange);
font-size:clamp(1rem, 2vw, 1.2rem) ;
}
.home .outline{
   width: 50px;
}
.home .title-name{
   font-size: clamp(2.5rem, 6vw, 4.2rem);
   font-weight: 300;
   font-family: 'Oleo Script', Arial, Helvetica, sans-serif;
}
.home .title-name b{
   font-family: 'Oleo Script', Arial, Helvetica, sans-serif;
   font-weight: 300;
   color: var(--pink);
}
.home  h2{
   font-size: clamp(1.5rem, 3vw, 1.8rem);
   color: var(--orange);
}
.container-info p{
   font-size:clamp(1.1rem, 2vw, 1.2rem) ;
   font-family: 'Lato';
   color: var(--body-color-dark);
   text-align: left;
   margin-top: 20px;
}
button, .download-cv{
   margin-top: 25px;
   color: var(--pink);
   font-size: clamp(1rem, 3vh, 3rem) ;
   border: var(--pink) 3px solid;
   padding: 10px 30px;
   border-radius:10px ;
   font-weight: bold;
   transition: all .50s ease;
   cursor: pointer;
}
.download-cv:hover{
   background-color: #fa640d2f;
   box-shadow: var(--pink) 0px 0px 15px;
}
.info-center{
   text-align: center;
}
.img-ejp{
   width: 90%;
   margin: 0;
   padding:0 ;
   border-bottom-right-radius:60% ;
   border-bottom-left-radius: 10%;
}
.container-photo{
   background-image: var(--gradient-dark);
  border-top-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;

}

@media (max-width:1280px){
   .home{
      width: 80%;
      transition: all .50s ease;
   }
   
}
@media (max-width:890px){
      .home{
         width: 87%;
         margin: auto;
         transition: all .50s ease;
      }
   }

   @media (max-width:590px){
      .img-ejp{
         display: flex;
         position:initial;
         width: 70%;
         margin: auto;
        
      }

      .container-info{
         margin-top: 30px;
      }
      .home{
         display: flex;
        flex-direction: column-reverse;
        transition: all .50s ease;
        margin: auto;
      }
   }