
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oleo+Script&display=swap');
:root{
   --body-color-dark:#1D000F;
   --container-body-dark:#12000A;
   --letter-dark:#F3B792;
   --pink:#FF0082;
   --orange:#FF741E;
   --card-description-dark:#65083A;
   --card-container-dark:#320019;
   --gradient-dark:linear-gradient( 181deg,  rgba(255,0,130,0.67) 1.9%, rgba(255,116,30,0.75) 91.3% );
   /*-------------Variables Theme light--------------*/
   --body-color-light :#FFE9DB;
   --container-body-light:#ffdac4;
   --letter-light:#320019;
}
body{
   background: var(--body-color-light);
   font-family: 'Lato';
}
