*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: none;
   list-style: none;
}
body{
   min-height: 100vh;
}

.header-theme{
   background: var(--body-color-light);
}

.header-theme div li a{
   color: var(--orange);
   
}
.icon-theme{
   font-size: 18px;
   margin: 0 1px;
}
.switch{
   background: var(--body-color-light);
   border-radius: 20px;
   border: none;
   position: relative;
   cursor: pointer;
   display: flex;
   outline:none;
   padding: 5px 9px;
   display: none;
}
.switch::after{
   content: "";
   display: block;
   width: 30px;
   height: 30px;
   position: absolute;
   background-color: var(--orange);
   top:0;
   left: 0px;
   right: unset;
   border-radius: 50%;
   transition: .3s ease all;
   box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
}

header{
   width: 100%;
   top:0;
   right: 0;
   z-index:1000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: transparent;
   padding: 28px 12%;
   transition: all .50s ease;

}
.img-personal{
   display: flex;
   align-items: center;
   width: 170px;
}
.navbar{
   display: flex;

}
.navbar a{
   color: var(--letter-dark);
   font-size: 1.1 rem;
   font-weight: 500;
   padding: 10px 10px;
   margin: 0px 30px;
   transition: all .50s ease ;

}
.navbar a:hover{
   color: var(--pink);
   border-radius: 5px;
   text-shadow: var(--orange) 0px 0px 5px;
}

.main{
   display: flex;
   align-items: center;

}

.main .btn-cv{
   margin-right: 25px;
   margin-left: 10px;
   color: var(--pink);
   font-size: 1.1 rem ;
   border: var(--pink) 3px solid;
   padding: 10px 30px;
   border-radius:10px ;
   font-weight: bold;
   transition: all .50s ease;
}

.main .btn-cv:hover{
   background-color: #fa640d2f;
   box-shadow: var(--pink) 0px 0px 15px;
   
}

.main .btn-cv.light:hover{
   background-color:#fd1cb225;
   box-shadow: var(--orange) 0px 0px 15px;
   
}


.nav_toggle{
   display: none;
}

.icon-contact{
   position: fixed;
   top: 300px;
   left: 50px;
   font-size: 30px;
}
.icon-contact::after{
  content: '';
  width: 1px;
  top:-410px;
  height: 400px;
  background-color: var(--orange);
  position: absolute;
  left: 12px;
  display: block;
}
.icon-contact li a{
   color: var(--orange);
}
.icon-contact li a:hover{
   color: var(--orange);
}
.icon-contact li{
   padding: 10px 0px;
}

@media (max-width:1280px){
   header{
      padding: 14px 2%;
      transition: 1s;

   }
   .icon-contact{
      font-size: 28px;
   }
   .icon-contact::before{
     left: 12px;
   }
   .navbar a{
      padding:5px 10px ;
      margin: 0px 20px;
   }
}
/*Hacer container para poder agregar temas*/
@media (max-width:890px){
#menu-icon{
   display:block ;
}
.icon-contact{
   display: flex;
   left: 0;
   top: 90vh;
   padding: 1% 0 1% 3%;
   border-radius: 20px;
   background:var(--container-body-light);
   transition: all .50s ease;
}
.icon-contact li a{
   padding-right: 5vw;
   color: var(--orange);
}


.icon-contact::after{
 display: none;
}
.img-personal{
   width: 120px;
   
}
.navbar{
   position: absolute;
      top:20px ;
      display: flex;
      right: 100%;
      margin: 2%;
      width: 70%;
      height: 40vh;
      background: var(--container-body-light);
      flex-direction: column;
      justify-content: flex-start;
      transition:all .50s ease ;
      padding-top:20px ;
      transition: 1s;
      box-shadow: rgba(3, 0, 1, 0.418) 0 0 5px;
}

.navbar a{
   display: block;
   margin: 12px 0;
   padding: 0 25px;
   transition: all .50s ease;
   color: var(--body-color-light);
   
}

.navbar a:hover{
   padding: 10px 0 10px 25px;
}
.navbar.open{
  display: flex !important;
  transition: all 0.50s ease;
  right: 2%;
  
}
.nav_toggle{
   display: flex;
   flex-direction: column;
   margin: 15px;
}
.nav_toggle span{
   width: 30px;
   height: 4px;
   background: var(--orange);
   margin-bottom: 5px;
   border-radius: 2px;
   transform-origin:5px 0px;
   transition: all 0.2s linear;
}
.nav_toggle.open > span{
  background: var(--pink);
   transform: rotate(45deg) translate(0px, 0px);
}

.nav_toggle.open > span:nth-child(2){
   display: none;
}
.nav_toggle.open > span:nth-child(3){
   background-color: var(--pink);
   transform: rotate(-45deg) translate(-5px, 1px);
}

}


/**--------------FOOTER-----------**/
footer, .footer{
   display: flex;
   width: 100%;
   justify-content: center;
   padding: 1% 0;
   text-align: center;
   background: var(--container-body-light);
}

.footer p{
   font-size:clamp(1.3rem, 2vw, 1.3rem) ;
   font-family: 'Oleo Script',Arial, Helvetica, sans-serif;
   color: var(--orange);
}
.footer div{
   margin-left: 5%;
}
.img-personall {
   width: 100px;
}
.footer a{
   text-decoration: none;
   color: var(--letter-light);
   font-family: 'Lato',Arial, Helvetica, sans-serif;
   font-weight: 800;
   font-size:clamp(1.1rem, 2vw, 1.3rem) ;
}